<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="#/accounting">{{'label.anchor.accounting'| translate}}</a></li>
        <li><a href="#/budget">Budget</a></li>
        <li class="active">Create Budget Item</li>
    </ul>

    <form name="createbudgetform" novalidate="" class="form-horizontal well"
          ng-controller="BudgetController" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>Create New Budget Item</legend>
            <div class="form-group">
                <label class="control-label col-sm-2 " for="liabilityAccountId">Supplier/Liability Account
                </label>
                <div class="col-sm-2">
                    <select id="liabilityAccountId" ng-model="formData.liabilityAccountId" class="form-control"
                            ng-options="liabilityGlAccount.id as liabilityGlAccount.name |    translate for liabilityGlAccount in liabilityGlAccounts" value="{{liabilityGlAccount.id}}"
                            required="required">
                        <option value="">Select Account</option>
                    </select>
                </div>
                <label class="control-label col-sm-4" for="expenseAccountId">Expense Account</label>
                <div class="col-sm-2">
                    <select id="expenseAccountId" ng-model="formData.expenseAccountId" class="form-control"
                            ng-options="expenseGlAccount.id as expenseGlAccount.name for expenseGlAccount in expenseGlAccounts"
                            value="{{expenseGlAccount.id}}">
                        <option value="">Select Account</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="assetAccountId">Source Account</label>
                <div class="col-sm-2">
                    <select id="assetAccountId" ng-model="formData.assetAccountId" class="form-control"
                            ng-options="assetGlAccount.id as assetGlAccount.name for assetGlAccount in assetGlAccounts"
                            value="{{assetGlAccount.id}}">
                        <option value="">Select Account</option>
                    </select>
                </div>
                <div class="col-sm-2">

                </div>
                <label class="control-label col-sm-2" >{{'label.input.accountname'| translate}}<span
                        class="required">*</span></label>
                <div class="col-sm-2">
                    <input id="name" type="text"  name="name"
                           ng-model="formData.name" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createbudgetform" valattribute="name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 " for="amount">Amount</label>

                <div class="col-sm-2">
                    <input id="amount" type="text"  name="amount"
                           ng-model="formData.amount" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createbudgetform" valattribute="amount"/>
                </div>
                <label class="control-label col-sm-2 " for="Create Date">Submitted On</label>

                <div class="col-sm-2">
                    <input id="fromDate" type="text" is-open="opened" min="'2000-01-01'" max="restrictDate" datepicker-pop="dd MMMM yyyy" name="createDate"
                           ng-model="formData.createDate" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createbudgetform" valattribute="createDate"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2 " for="fromDate">Start Date</label>

                <div class="col-sm-2">
                    <input id="fromDate" type="text"  name="fromDate" is-open="opened" min="'2000-01-01'"  datepicker-pop="dd MMMM yyyy"
                           ng-model="formData.fromDate" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createbudgetform" valattribute="froDate"/>
                </div>
                <label class="control-label col-sm-2 " for="Create Date">End Date</label>

                <div class="col-sm-2">
                    <input id="fromDate" type="text"  name="toDate" is-open="opened" min="'2000-01-01'"  datepicker-pop="dd MMMM yyyy"
                           ng-model="formData.toDate" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createbudgetform" valattribute="toDate"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="disabled">Disabled</label>

                <div class="col-sm-3">
                    <label class="checkbox">
                        <input id="disabled" type="checkbox" ng-model="formData.disabled">
                    </label>
                </div>
                <label class="control-label col-sm-2" for="year">Year</label>

                <div class="col-sm-2">
                    <input id="year" type="text"  name="year"
                           ng-model="formData.year" class="form-control" required late-Validate/>
                </div>
                <div class="col-sm-2">
                    <form-validate valattributeform="createbudgetform" valattribute="year"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">{{'label.input.description'| translate}}</label>

                <div class="col-sm-8">
                    <textarea id="description" name="description" ng-model="formData.description" rows="4"
                              cols="" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-offset-5">
                <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">{{'label.button.cancel'| translate}}</a>
                <button id="save" type="submit" class="btn btn-primary" has-permission='CREATE_BUDGET'>{{'label.button.save'| translate}}</button>
            </div>
        </fieldset>
    </form>
</div>